#optargs=
#mmcroot=/dev/mmcblk0p2 ro
#mmcrootfstype=ext4 rootwait fixrtc
#video=
video=HDMI-A-1:800x600@60
  
##Uncomment the next line, to boot older v3.0.x (Wandboard kernel):
#uenvcmd=run loadzimage; run mmcargs; bootz ${loadaddr};
  
##Uncomment the next line, to boot new Mainline: v3.11.x (Dual/Quad only...) or v3.12.x (Solo/Dual/Quad...)
uenvcmd=run loadzimage; run loadfdt; run mmcargs; bootz ${loadaddr} - ${fdt_addr};
